/*staffmanagement*/
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    gap:80px;
    font-family: 'Montserrat';font-size: 22px;
    font-size: small;
    align-items: center;
    justify-content: center;
}
.selectstation{
    border: solid;
   border-left: none;
    width: 60%;
background: #fff;

    align-items: center;
    display: flex;
   justify-content: space-evenly;
   border-radius: 8px;
   border-color:#B7E2E7;
   opacity: 0.8;

}
.select{
    width: 100px;
    height: 35px;
    border: solid;
    border-radius: 5px;
}
.form{
    justify-content: space-evenly;
}
.task{
    border: solid;
    width: 50%;
   position: relative;
   background: #fff;
   opacity: 0.8;
   left:15px;
   border-color:#B7E2E7;
   padding-left: 24px;
   border-radius: 10px;

}
.names{
    display: flex;
    gap: 40px;
}
.inputclass{
    height: 30px;
}
.buttons{
width: 40%;
display: flex;
gap: 15px;
}
.button{
    background-color: #009ADC;
    width:150px;
    height: 50px;
    border:none;
    border-radius: 10px;
    text-align: center;
    color: white;
}